<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>	
  <%= render 'layouts/stylesheets' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="container">
		<header>
			<%= render 'layouts/header' %>
		</header>
		<section>	
			<%= yield %>
		</section>
		<footer>
			<%= render 'layouts/footer'%>
		</footer>
	</divs>

</body>
</html>
